main{
    margin: 0;
    
    
    position: relative;
    z-index: 0;
    // background-image: url('https://res.cloudinary.com/dwv0trjwd/image/upload/v1681475032/legendary/background_c8bxcv.jpg');
   background-image: url(https://res.cloudinary.com/dwv0trjwd/image/upload/v1682094950/backgrounddraw_ts6lnp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
}

.container{
    display: grid;
    grid-template-rows: 50px auto 50px;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    
    .container{height: 800px;}
}
