<div class="container">
  <h1>¡HOLA!</h1>
  <p>
    Bienvenido a <span>LEGENDARY ALBUMS</span>, web creada por un desarrollador
    novel y apasionado melómano. Mi amor por la música me ha llevado a recopilar
    los mejores álbumes de todos los tiempos en un solo lugar para que puedas
    disfrutarlos. Desde los clásicos hasta los más actuales, esta selección de
    álbumes te llevará en un viaje a través de la historia de la música.
    ¡Explora mi colección y descubre nuevos sonidos y artistas!
  </p>
  <h3>Acerca de mí</h3>
  <p>
    Mi nombre es Juan Miguel y soy un gallego desarrollador web (o casi) y
    músico aficionado. La programación y la música siempre han sido dos de mis
    ocupaciones favoritas, así que era inevitable que se uniesen tarde o
    temprano. Este proyecto empieza modestamente como un homenaje a los álbumes
    que han cambiado la historia de la música, con apenas una docena de entradas
    para empezar. En cualquier caso pretendo hacerlo un proyecto colaborativo
    así que, con tu ayuda, quién sabe hasta dónde puede llegar. Espero que
    disfrutes este viaje histórico y musical.
  </p>
  <h3>Contacto:</h3>
  <p class="email">
    <a href="mailto:galemusica@micorreo.com">galemusica@micorreo.com </a>
    <img
      class="email__img"
      width="30px"
      src="https://res.cloudinary.com/dwv0trjwd/image/upload/v1681762760/1F4E7_color_pmpxap.png"
      alt=""
    />
  </p>
  <p class="mobile">
    <a href=""
      >+34 666 123456
      <span
        ><img
          class="mobile__img"
          width="30px"
          src="https://res.cloudinary.com/dwv0trjwd/image/upload/v1681763544/whatsapp-mobile-removebg-preview_pnyn4u.jpg"
          alt="" /></span
    ></a>
  </p>
</div>
