
<div class="container">
  <div *ngIf="albumService.isLoading"><img class="vinyl" src="https://res.cloudinary.com/dwv0trjwd/image/upload/v1682265151/vinilo-bgtransparent_qtd8q3.png" alt=""></div>
  <div class="album-list" *ngIf="albums">
    <app-single
      [textClass]="textClass"
      *ngFor="
        let album of albums | filter : inputValue | orderByYear : yearFilter | orderByTitle:sortAscending
      " [ngClass]="{'highlight': album.year === yearFilter}"
      [albumShown]="album"
    ></app-single>
  </div>
  <div class="filters">
    <div>
      <p>Buscar álbum:</p>
      <input class="filters__search" [(ngModel)]="inputValue" />
    </div>
    <div class="filters__year">
      <p>Publicados hasta: {{ yearFilter }}</p>
      <input
        class="filters__year--input"
        type="range"
        min="1910"
        max="2023"
        [(ngModel)]="yearFilter"
      />
    </div>
    <div>
      <button (click)="changeSortOrder()">{{sortAscending?"Ordenar Z-A":"Ordenar A-Z"}}</button>
    </div>
  </div>
</div>
